##### LOCAWEB - NAO REMOVER #####
AddHandler php73-script .php
suPHP_ConfigPath /home/laporteservice2/
##### LOCAWEB - NAO REMOVER #####

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html