
  html, body{
    overflow-x: hidden; 
}

  
    .abg-transformacao{
    background-image: url(img/bg-estrategia.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;   
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1; 
    content: ' ';
    position: relative;
    }

    .bg-sobre{
    background-image: url(img/bg-sobre.jpg);
    background-color: #2a7fa6;
    background-size: cover;
    background-repeat: no-repeat; 
    width: 100%;    
   
    }

    .bg-header{
    background-image: url(img/bgpraia4.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center top;		
		margin-bottom: 0px;
		min-height: 325px;  
    }

    .bg-header-reto{
      background-image: url(img/bg-nuvem.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center top;		
      margin-bottom: 0px;
      min-height: 325px;  
      }

    .bg-header-solucoes{
      background-image: url(img/solucoes.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center top;		
      margin-bottom: 0px;
      min-height: 410px;  
      }

    .bg-homepage{
    background-image: url(img/home-page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;    
    margin-bottom: 0px;
    min-height: 1358px;
    z-index: -1;
    }

    .bg-homepage2{
      background-image: url(img/bgpraia4.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center bottom;    
      margin-bottom: 0px;
      min-height: 380px;      
      z-index: -1;
      }


    .bg-solucoes{
    background-image: url(img/topo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;    
    margin-bottom: 0px;
    min-height: 700px;
    z-index: -1;
    }

    .bg-solucoes-menu{
    background-image: url(img/maos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;    
    margin-bottom: 0px;
    min-height: 700px;
    z-index: -1;
    }



    .bg-header-estrategia{
    background-image: url(img/estrategia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;    
    margin-bottom: 0px;
    min-height: 380px;
    }

    .bg-header-automatizacao{
    background-image: url(img/automatizacao.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;    
    margin-bottom: 0px;
    min-height: 380px;
    }
    .bg-header-alavancagem{
    background-image: url(img/alavancagem.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;    
    margin-bottom: 0px;
    min-height: 410px;
    }
    .bg-header-desenvolvimento{
    background-image: url(img/desenvolvimento.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;    
    margin-bottom: 0px;
    min-height: 410px;
    }
    .bg-header-outsourcing{
    background-image: url(img/outsourcing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;    
    margin-bottom: 0px;
    min-height: 410px;
    }
    .bg-header-terceirizacao{
    background-image: url(img/terceirizacao.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;    
    margin-bottom: 0px;
    min-height: 380px;
    }
    .bg-header-contato{
      background-image: url(img/contato.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center top;    
      margin-bottom: 0px;
      min-height: 380px;
      }

    #sobre-a-laporte{
    background-image: url(img/bg-sobre.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;    
    margin-bottom: 0px;
   
  }  

 
    .caixa-estrategia{
      min-height: 200px;
      width: 330px;
      border: solid 2px orange;
      border-radius: 20px;
      padding: 20px;
      margin-top:50px;
      position:relative;      
    }

    .caixa-estrategia2{     
      width: 330px;
      background-color: rgb(169,221,237);
      border-radius: 20px;
      padding: 10px 10px 0px 10px;
      margin-top:50px;
      position:relative;
    }


    .caixa-estrategia p{
      font-size: 1.5em;
      font-weight: bold;
      position: absolute;
      bottom:5px;      
      left: 0;
      right: 0;
      text-align: center;
      line-height: 1.2em;
      
    }


    .caixa-estrategia2 p{
      
      font-weight: bold;    
      text-align: center;
      line-height: 1.1em;
      
    }

    .icon-estrategia{
      width: 95px;
      margin-top: -67px;
    }
    .icon-estrategia2{
      width: 95px;  
      position: relative;    
    }
    .icon-estrategia2:hover{
      top:5px;
    }

    .caixa-estrategia-para{
      border: solid 3px #95C2DF;
      border-radius: 20px;
      width:100%;
      padding: 20px 20px;
    }

    .caixa-estrategia-para p{
      font-size: 1.2em;
      margin-bottom:0;
    }
    .caixa-estrategia-para2{
      background-color: rgb(169,221,237);
      border-radius: 20px;
      width:100%;
      padding: 15px 15px;
    }

    .caixa-estrategia-para2 p{
      font-size: 1.2em;
      margin-bottom:0;
    }

    .icon-estrategia-para{
      width: 110px;
      height: 110px;
      margin-left: -77px;
    }

     .icon-estrategia-para-2{
      width: 110px;
      height: 110px;
      margin-top: -77px;
    }

   	.caixa{
      height: 246px;
   		padding: 20px 30px;
      border-radius: 0.75rem !important; 
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      position: relative;  
    }

    .caixa:hover{
      top: -1px;
      
    }
    .icone-contato{
      font-size:25px;
      background-color:rgb(82,101,128);
      padding-top: 10px;
      padding-bottom: 10px;
    }

 
    .orange-iten{
      color: #FC7608;
    }

    .azul-logo{
      color: #215972;
    }

    .border-orange-page{
      width: 35%;
      border-color:#FC7608 !important;
      margin-bottom: 5px;
    }

    .branco{
      color: #fff;      
    }
    .azul-titulos{
      color: #6f6d70;
    }
  .check-ul {
    list-style-type:'\2713';
  } 	

	a{
		color: #215972;
		/*line-height: 50px;*/
	}
	  .img-logo-paginas{
    width: 80px;

  }
  .bg-branco{
    background-color:rgb(255,255,255);
  }
	.capa{
		color: #215972;
		font-size: 1.1em;
	}

.btn-danger {
  color: #fff;
  background-color: #215972;
  border-color: #215972;
}

.btn-danger:hover {
  color: #fff;
  background-color: #599035;
  border-color: #599035;
}

.btn-info {
  color: #fff;
  background-color: #215972;
  border-color: #17a2b8;
}

.btn-info:hover {
  color: #fff;
  background-color: #215999;
  border-color: #117a8b;
}

.btn-danger:focus, .btn-danger.focus {
  box-shadow: 0 0 0 0.2rem rgba(89, 143, 53, 0.5);
}

.btn-danger.disabled, .btn-danger:disabled {
  color: #fff;
  background-color: #599035;
  border-color: rgb(217,217,217);
}

.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #599035;
  border-color: rgb(217,217,217);
}

.btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(217,217,217, 0.5);
}
footer {
	color: #fff;
	background:#215972 ;
	padding: 20px 0px 50px 0px;
  width:100%;
  margin-top:auto;
}
footer a{
	color:#fff;
}

.links-footer a:hover{
	text-decoration-line: none;
	color:#fff;
	border-bottom: 3px solid rgb(217,217,217);
	padding-bottom: 1px;
}

.icones a:hover{
  text-decoration-line: none;  
  color: white;

}
.a-carousel{
  color:black;
  font-size: 20px;
}

.a-carousel:hover{
  text-decoration-line: none;
}
footer ul{
  list-style: none;
}

footer a:hover{
  color: white;
  text-shadow: 2px 2px 15px white;
}

footer ul li a{
color: #fff;
}
footer ul li a:hover{
color: #fff;
}
footer span{
  line-height: 1.8em;
}
.wid-80{
  max-width: 80%;
}
.wid-90{
  max-width: 90%;
}
.wid-100{
	max-width: 100%;
}
.wid-95{
max-width: 95%;
}
.fs-16{
  font-size: 1.6em;
}

.fs-14{
	font-size: 1.4em;
}
.fs-13{
  font-size: 1.3em;
}
.fs-11{
  font-size: 1.1em;
}
.fs-12{
  font-size: 1.2em;
}


.bg-azul-claro{
	background-color:rgb(175,206,235);
}

.bg-azul-escuro{
	background-color:rgb(33,83,113);
}

.bg-ses1{
 background-color:rgb(222,235,247);
 min-height:250px; 
 max-width: 285px;
}

.bg-ses2{
 background-color: rgb(39, 93, 168);
 min-height:250px; 
 max-width: 285px;
}

.bg-ses3{
 background-color: rgb(120,171,194) ;
 min-height:250px; 
 max-width: 285px;
}

.bg-ses4{
 background-color: rgb(169,221,237);
 min-height:250px; 
 max-width: 285px;
}

.bg-ses5{
 background-color: rgb(90,142,174);
 min-height:250px; 
 max-width: 285px;
}

.bg-ses6{
 background-color: rgb(170,214,236);
 min-height:250px; 
 max-width: 285px;
}

.bg-dti1{
  background-color:rgb(222,235,247);
  min-height:250px; 
 
 }
 
 .bg-dti2{
  background-color: rgb(39, 93, 168);
  min-height:250px; 
 
 }
 
 .bg-dti3{
  background-color: rgb(120,171,194) ;
  min-height:250px; 
  
 }
 
 .bg-dti4{
  background-color: rgb(169,221,237);
  min-height:250px; 
  
 }
 
 .bg-dti5{
  background-color: rgb(90,142,174);
  min-height:250px; 
 
 }
 
 .bg-dti6{
  background-color: rgb(170,214,236);
  min-height:250px; 
  
 }

.cont-ss{  
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto; 
}
@media (min-width: 1200px) {
  .cont-ss {
    max-width: 1360px;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(217,217,217);
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    border-bottom: 3px solid #215972;
    line-height: 25px;
    padding-bottom: 3px;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    
    line-height: 25px;
    padding-bottom: 3px;
    color: #fff;
    text-shadow: 2px 2px 2px #000000;   
}

.navbar-light .navbar-toggler {       
    color: rgba(217,217,217,1);
    border-color: rgba(217,217,217,1);
    border: 1px solid ;
}



.navbar-primary .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    border-bottom: 3px solid #ffffff;
    line-height: 25px;
    padding-bottom: 3px;
}

.navbar-primary .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #fff;
    text-shadow: 1px ;
    line-height: 25px;
    padding-bottom: 3px;  
      
}

.navbar-primary .navbar-toggler {       
    color: rgba(217,217,217,1);
    border-color: rgba(217,217,217,1);
    border: 1px solid ;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/*.dropdown-item:hover, .dropdown-item:focus {
  color: #599035;
  text-decoration: none;
  background-color: #f8f9fa;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #215972;
}

.dropdown-item.disabled, .dropdown-item:disabled {
  color: #6c757d;
  background-color: transparent;
}*/



@keyframes opacidade {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes mover{
  from{
    left: -250px;
  }
    to{
      left:250px;

    }

}

.mouse{
  position: relative;
  animation-name: mover;
  animation-duration: 3s;
  animation-iteration-count: 2;
}

.anima{
  animation-name: opacidade;
  animation-duration: 4s;  
  animation-timing-function: ease-in;
}

.anima1{
  animation-name: opacidade;
  animation-duration: 2s;  
  animation-timing-function: ease-in;
}

.anima2{
  animation-name: opacidade;
  animation-delay: 0.2s;
  animation-duration: 2s;  
  animation-timing-function: ease-in;
}
.anima3{
  animation-name: opacidade;
  animation-delay: 0.4s;
  animation-duration: 2s;  
  animation-timing-function: ease-in;
}
.anima4{
  animation-name: opacidade;
  animation-delay: 0.6s;
  animation-duration: 2s;  
  animation-timing-function: ease-in;
}
.anima5{
  animation-name: opacidade;
  animation-delay: 0.8s;
  animation-duration: 2s;  
  animation-timing-function: ease-in;
}
.anima6{
  animation-name: opacidade;
  animation-delay: 1s;
  animation-duration: 2s;  
  animation-timing-function: ease-in;
}


.w3-animate-left{
  position:relative;
  animation:animateleft 2s
}
  @keyframes animateleft{
    from{
      left:-300px;
      opacity:0
    } 
      to{
        left:0;
        opacity:1
      }
  }

  .box-ss {
    min-height: 300px; /* [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  }
  
  /* [2] Transition property for smooth transformation of images */
  .box-ss img {
    transition: transform .5s ease-in-out;
  }
  
  /* [3] Finally, transforming the image when container gets hovered */
  .box-ss:hover img {
    transform: scale(1.2);
  }

  .shadow{
    text-shadow: 2px 2px 2px #000000;
  }

  .btn-ss {
    color: #fff;
    background-color: #215972 ;
    border-color: #215972 ;
  }
  
  .btn-ss:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
  }

  .lh-12{
    line-height: 1.2em;
  }
   

@keyframes din{
  from{    
    opacity:0;
    }
    to{      
      opacity:1;
    }
}
@keyframes dout{
  from{
    opacity:1;
  }
  to{
    opacity:0;
  }
}

.i1:hover .caixa-estrategia2{  
opacity:1 ; 
}

.i1 .caixa-estrategia2{
  transition: opacity 1s ease-in-out;
}


@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu-d{ display: none; }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .nav-item:hover .dropdown-menu-d{ display: block; }
	.navbar .nav-item .dropdown-menu-d{ margin-top:0; }
}	

.dropdown-menu-d {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.2rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  
  border-radius: 0.25rem;
}

.dropdown-item-d {
  display: block;
  width: 100%;
  padding: 0.1rem 1.5rem;
  clear: both;
  font-weight: 450;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
}


.dropdown-item-d:hover, .dropdown-item-d:focus {
  color: #fff;
  text-decoration: none;
  background-color: rgb(33,83,113);
}

.dropdown-item-d.active, .dropdown-item-d:active {
  color: #fff;
  text-decoration: none;
  background-color: rgb(33,83,113);
}

.dropdown-item-d.disabled, .dropdown-item-d:disabled {
  color: #6c757d;
  background-color: transparent;
}


/*
  #215972 azul logo
  #599035 verde
  #f8f9fa bg light
*/
